
* {
    font-family: "Helvetica";
}

h1 {
    margin-top: 60px;
}

.hero-text {
    margin-left: 60px;
}

header, footer {
    background-color: #1F2937;
    
}

#quote {
    background-color: #E5E7EB; 
}

#light-text {
    color: #F9FAF8;
}

#med-text {
    color: #E5E7EB;
}

#dark-text {
    color: #1F2937;
}

#quote {
    background-color: #E5E7EB;
}

#call {
    background-color: #3882F6;
    margin: 70px;
    border-radius: 10px;
    height: 70px;
    color: #F9FAF8;

}

.blue-border {
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 30px;
    height: auto;
    width: 120px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 60px 200px 60px 200px;
}

.item {
    flex: 1;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
}

body {
    margin: 0px;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 50px;
}

.nav {
    flex: 1;
    text-align: right;
}

blockquote {
    font-size: 35px;
    padding: 100px;
}

.bar {
    display: flex;
}

footer {
    padding: 20px;
    text-align: center;
}

h3 {
    margin-left: 40px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:active {
    color: hotpink;
}

#CTA {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: -20px;
    margin-top: 10px;
}

.top-img {
    margin-left:100px;
    margin-right: 60px;
    height: auto;
    width: 200px;
}

button {
    background-color:#3882F6;
    border-style: solid;
    
    color:  #F9FAF8;
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#sub {
    font-size: 20px;
    color:#E5E7EB;
}

#top-btn {
    border-color:#3882F6
}

#bottom-btn {
    border-color: #F9FAF8;
}

