
* {
    font-family: "Helvetica";
}


img {
    width: 120px;
    height: auto;
}

header, footer {
    background-color: #1F2937;
    
}

#quote {
    background-color: #E5E7EB; 
}

#light-text {
    color: #F9FAF8;
}

#med-text {
    color: #E5E7EB;
}

#dark-text {
    color: #1F2937;
}

#quote {
    background-color: #E5E7EB;
}

#call {
    background-color: #3882F6;
    margin: 30px;
    border-radius: 10px;
}

.blue-border {
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 30px;
    
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 70px;
}

.item {
    flex: 1;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
}

body {
    margin: 0px;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 50px;
}

.nav {
    flex: 1;
    text-align: right;
}

blockquote {
    font-size: 35px;
    padding: 50px;
}

.bar {
    display: flex;
}

footer {
    padding: 20px;
    text-align: center;
}

h3 {
    margin-left: 40px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

a:active {
    color: hotpink;
}

